.Songs {
  &-list {
    /* text-align: right; */
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    font-weight: bold;
    overflow-y: auto;
    height: 100%;
    /* font-style: italic; */
  }

  &-song {
    box-sizing: border-box;
    padding: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.04);
    /* box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1); */
    position: relative;
    margin-top: 50px;

    &Info {
      flex: 1;
      margin-right: 20px;
    }

    &Image {
      width: 120px;
      /* transform: rotate(40deg); */
      opacity: 0.1;
      position: absolute;
      right: -10px;
    }

    &--disabled {
      opacity: 0.1;
    }
  }

  &-name {
    font-size: 30px;
  }

  &-artist {
    margin-left: 10px;
  }
}
