.Song {
  display: flex;
  flex-direction: column;

  &-body {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &-ProgressBar {
    margin: 0 auto 60px;
    width: 80%;
  }
}
