.MenuButton {
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  width: 350px;
  padding: 25px;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.8);
  font-style: italic;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skewX(-10deg);
    z-index: -1;
  }

  &:hover {
    .MenuButton-extra {
      transform: translateX(-20px);
    }
  }

  &-extra {
    --font-size: 50px;
    transition: transform 0.2s ease-out;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: calc(var(--font-size) / -2);
    font-weight: 900;
    font-size: var(--font-size);
    line-height: 1;
  }

  &-green {
    &:before {
      background: linear-gradient(45deg, #11998e, #38ef7d);
    }
  }

  &-red {
    &:before {
      background: linear-gradient(45deg, #ff416c, #ff4b2b);
    }
  }

  &-blue {
    &:before {
      background: linear-gradient(45deg, #6c5b7b, #c06c84);
    }
  }
}
