.Index {
  &-titleGroup {
    position: absolute;
    top: 40%;
    left: 150px;
    transform: translateY(-50%);

    &-title {
      font-style: italic;
      font-weight: 800;
      font-size: 200px;
      letter-spacing: 8px;
    }

    &-subtitle {
      display: flex;

      span {
        text-align: center;
        flex: 1;
      }
    }
  }

  &-menu {
    position: fixed;
    right: 50px;
    bottom: 50px;

    .MenuButton {
      display: inline-block;

      & + .MenuButton {
        margin-left: 30px;
      }
    }
  }

  &-fullscreenButton {
    position: fixed !important;
    top: 0;
    right: 0;
  }
}
