.Index {
  overflow: hidden;

  &-titleGroup {
    width: fit-content;
    margin: 40px auto 0;

    &-title {
      font-style: italic;
      font-weight: 800;
      font-size: 100px;
      letter-spacing: 8px;
      width: fit-content;
    }

    &-subtitle {
      display: flex;
      font-size: 10px;

      span {
        text-align: center;
        flex: 1;
      }
    }
  }

  &-menu {
    position: absolute;
    left: 0;
    right: 0;
    width: fit-content;
    margin: 0 auto;
    bottom: 50px;
    display: flex;
    flex-direction: column;

    .MenuButton {
      & + .MenuButton {
        margin-top: 20px;
      }
    }
  }

  &-tips {
    text-align: center;
    margin-top: 80px;
  }
}
