.Song {
  --left: 70px;

  &-cover {
    display: block;
    object-fit: cover;
    width: 300px;
    height: 300px;
    margin: 0 0 30px var(--left);
  }

  &-Info {
    font-weight: 800;
    font-style: italic;

    position: fixed;
    left: 0;
    top: 40%;
    transform: translateY(-50%);
  }

  &-name {
    font-size: 80px;
  }

  &-subInfo {
    font-size: 25px;
  }

  &-name,
  &-subInfo {
    padding: 20px 50px 20px var(--left);
    width: fit-content;
    position: relative;
    line-height: 1;

    span {
      position: relative;
    }
  }

  &-nameBackground,
  &-subInfoBackground {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 0;
    transform: skewX(-10deg);
    background: inherit;
  }
}
