@import-normalize;

body {
  margin: 0;
  color: #ffffff;
  background-color: #111111;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

#__next {
  width: 100vw;
  height: 100vh;
  max-width: 768px;
  position: relative;
  margin: 0 auto;
  background-color: #222222;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  > div:first-child {
    width: fit-content;
  }

  > div:last-child {
    flex: 1;

    > div {
      height: 100%;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.Page-transition {
  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-out;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: opacity 200ms ease-in;
  }
}

.Header-transition {
  &-enter {
    transform: translateX(-110%);
  }

  &-enter-active {
    transform: translateX(0);
    transition: transform 400ms ease-out;
  }

  &-exit {
    transform: translateX(0);
  }

  &-exit-active {
    transform: translateX(-110%);
    transition: transform 400ms ease-in;
  }
}

.Header-placeholder {
  height: 70px;
}
