@import-normalize;

body {
  margin: 0;
  color: #ffffff;
  background-color: #111111;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

#__next > div {
  width: 100vw;
  height: 100vh;
  max-width: 768px;
  position: relative;
  margin: 0 auto;
  background-color: #222222;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.Page-header {
  font-weight: 800;
}

.Page-name {
  --left: 30px;
  font-size: 40px;
  padding: 15px 25px 15px var(--left);
  width: fit-content;
  line-height: 1;

  .Parallelogram-background {
    left: -20px;
  }
}
